@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<button hx-post="/home/notifications" hx-swap="outerHTML">
		Click Me to Trigger Notification via htmx
	</button>
</div>
