@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button hX-post="/home/notifications" hx-swap="innerHTML" hx-target="#notification-target">
        Click Me to Trigger Notification via htmx
    </button>
    
    <div id="notification-target"></div>
</div>
